name: End-to-end tests
on: [pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress.io
        uses: cypress-io/github-action@v2.7.0

        with:
          build: yarn generate
          start: yarn start
          wait-on: http://localhost:3000
